.drawtools {
    margin: auto;
    width: 50%;
    /*border: 1px;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.tools {
    /*text-align:center;
    border: 5px;*/
    max-width: 10%;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}
